@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --color-primary: #005bf1;
  --color-secondary: #007bff;
  --color-text-primary: #000;
  --color-text-secondary: #3c3c3c;
  --color-text-muted: #686868;
  --color-background-light: #fff;
  --color-background-blue: #e4f4ff;
  --color-border: #e3e3e3;
  --color-input-placeholder: #686868;
  --color-card-border: #cdcdcd;
  --color-modal-background: rgba(28, 28, 28, 0.3);
  --color-radio-checked: #f6f6f6;
}

.font-libre-franklin, footer .nav-link, .our-works .figure-caption, .category-swiper .card .card-body .card-title, .home-intro-card .card .card-title, h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Libre Franklin", sans-serif;
}

.font-inter, body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
a.dropdown-toggle img {
  transition: all 0.3s ease-in-out;
}
a.dropdown-toggle[aria-expanded=true] img {
  transform: rotate(180deg);
}
a.dropdown-toggle::after {
  display: none;
}

input, textarea {
  box-shadow: none !important;
}
input:-moz-placeholder-shown, textarea:-moz-placeholder-shown {
  font-weight: 300;
  color: var(--color-input-placeholder);
}
input:placeholder-shown, textarea:placeholder-shown {
  font-weight: 300;
  color: var(--color-input-placeholder);
}

header {
  display: flex;
  align-items: center;
  min-height: 108px;
  background-color: var(--color-background-light);
  border-bottom: 1px solid var(--color-border);
  z-index: 99;
}
header nav {
  gap: 40px;
}
@media (max-width: 767px) {
  header nav {
    gap: 20px;
  }
}
header nav a {
  color: var(--color-text-primary);
  display: flex;
  gap: 8px;
}

.sidebar a {
  font-size: 20px;
  color: var(--color-text-primary);
  display: flex;
  gap: 8px;
}

.home-intro-card .card {
  min-height: 700px;
  border: none;
  background-color: var(--color-background-blue);
  border-radius: 8px;
}
.home-intro-card .card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 955px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.home-intro-card .card .card-title {
  color: var(--color-primary);
  font-size: 58px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .home-intro-card .card .card-title {
    font-size: 40px;
  }
}
.home-intro-card .card .intro-content-wrapper {
  max-width: 550px;
  width: 100%;
}
.home-intro-card .card .intro-content-wrapper h6 {
  color: var(--color-text-muted);
  font-size: 14px;
  font-weight: 300;
}
.home-intro-card .card .input-group {
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  height: 67px;
  background-color: var(--color-background-light);
  align-items: center;
  padding-right: 8px;
}
.home-intro-card .card .input-group input {
  box-shadow: none;
  border: none;
  padding-left: 24px;
  z-index: unset;
}
.home-intro-card .card .input-group button {
  border: none;
  border-radius: 8px !important;
}
@media (max-width: 767px) {
  .home-intro-card .card .input-group {
    flex-direction: column;
    padding-left: 8px;
    padding-bottom: 8px;
    height: unset;
  }
  .home-intro-card .card .input-group input {
    width: 100%;
    padding-left: 8px;
    height: 56px;
  }
  .home-intro-card .card .input-group button {
    width: 100%;
  }
}
.home-intro-card .card .avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}
.home-intro-card .card .avatar:not(:first-child) {
  margin-left: -15px;
}

.category-swiper::before, .category-swiper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}
@media (max-width: 767px) {
  .category-swiper::before, .category-swiper::after {
    display: none;
  }
}
.category-swiper::before {
  left: 0;
  z-index: 2;
}
.category-swiper::after {
  right: 0;
  transform: rotate(180deg);
  z-index: 1;
}
.category-swiper .external-buttons .swiper-button-prev-category,
.category-swiper .external-buttons .swiper-button-next-category {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  border: none;
}
.category-swiper .external-buttons .swiper-button-prev-category.swiper-button-disabled,
.category-swiper .external-buttons .swiper-button-next-category.swiper-button-disabled {
  visibility: hidden;
  opacity: 1;
}
.category-swiper .external-buttons .swiper-button-prev-category {
  left: -20px;
}
.category-swiper .external-buttons .swiper-button-next-category {
  right: -20px;
}
.category-swiper .card {
  border: none;
}
.category-swiper .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  min-height: 188px;
  padding: 24px 16px;
}
@media (max-width: 767px) {
  .category-swiper .card .card-body {
    min-height: 150px;
  }
}
.category-swiper .card .card-body .card-title {
  font-size: 20px;
  font-weight: 600;
}

.external-buttons .btn {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  border: none;
}
.external-buttons .btn.swiper-button-disabled {
  box-shadow: none;
  background-color: #e3e3e3;
}
.external-buttons .btn.swiper-button-disabled img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(307deg) brightness(108%) contrast(101%);
}

.popular-services-swiper .card {
  border-radius: 8px;
  border: 1px solid var(--color-border);
}
.popular-services-swiper .card .card-body .card-title {
  margin-top: 24px;
  height: 60px;
}
.popular-services-swiper .card .card-body img {
  border-radius: 8px;
}

.customer-feedback-swiper .card {
  border-radius: 8px;
  border: 1px solid var(--color-border);
  position: relative;
  overflow: hidden;
}
.customer-feedback-swiper .card .card-body h6 {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: var(--color-text-muted);
}
.customer-feedback-swiper .card .card-body h5,
.customer-feedback-swiper .card .card-body p {
  color: var(--color-text-primary);
}
.customer-feedback-swiper .card .card-body .card-title {
  margin-top: 24px;
}
.customer-feedback-swiper .card .card-body img {
  border-radius: 8px;
}

.freelance-section .card {
  border-radius: 8px;
  border: 1px solid var(--color-border);
}
.freelance-section .card .card-body {
  padding: 40px 24px;
}
.freelance-section .card .card-body .card-text {
  color: var(--color-text-muted);
}

.our-works {
  border-radius: 8px;
}
.our-works .figure-caption {
  position: absolute;
  bottom: 40px;
  left: 36px;
  font-size: 56px;
  font-weight: 800;
  color: var(--color-background-light);
}
@media (max-width: 767px) {
  .our-works .figure-caption {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .our-works .figure-caption {
    font-size: 20px;
  }
}

.freelance-banner {
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-background-light);
}
.freelance-banner .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 260px;
}

footer {
  border-top: 1px solid var(--color-border);
}
footer > div:first-child {
  border-bottom: 1px solid var(--color-border);
}
footer > div:last-child .row > div:last-child {
  gap: 40px;
}
footer > div:last-child .row > div:last-child .d-flex {
  gap: 24px;
}
footer .social-icon {
  width: 24px;
  height: 24px;
}
footer .nav-link {
  color: var(--color-text-secondary);
  font-weight: 300;
}
footer .nav-link:hover {
  color: var(--color-primary);
}
@media (max-width: 575px) {
  footer .nav-link {
    font-size: 14px;
  }
}
footer .grid-links {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1199px) {
  footer .grid-links {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 991px) {
  footer .grid-links {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  footer .grid-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

.modal.fade.show {
  background: var(--color-modal-background);
}

.modal-dialog .modal-content {
  border-radius: 8px;
}
.modal-dialog .modal-content .modal-header {
  border-bottom: 0px;
  padding: 24px;
  padding-bottom: 0px;
}
.modal-dialog .modal-content .modal-header .btn-close {
  opacity: 1;
  box-shadow: none;
}
.modal-dialog .modal-content .modal-body {
  padding: 24px;
  padding-top: 12px;
}

#signinLoginModal .modal-content {
  border-radius: 8px;
  overflow: hidden;
  border: none;
}
#signinLoginModal .modal-body .col-lg-6 {
  position: relative;
  min-height: 653px;
}
#signinLoginModal .modal-body .col-lg-6:first-child {
  background-color: #f3f2f7;
}
#signinLoginModal .modal-body .col-lg-6:first-child img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
#signinLoginModal .modal-body .col-lg-6:first-child .content {
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 38px;
}
@media (max-width: 767px) {
  #signinLoginModal .modal-body .col-lg-6:first-child {
    display: none;
  }
}
#signinLoginModal .modal-body .col-lg-6:last-child {
  padding: 40px 80px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  #signinLoginModal .modal-body .col-lg-6:last-child {
    padding: 32px;
  }
}
#signinLoginModal .modal-body .col-lg-6:last-child .btn-outline-dark {
  position: relative;
}
#signinLoginModal .modal-body .col-lg-6:last-child .btn-outline-dark:hover {
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
}
#signinLoginModal .modal-body .col-lg-6:last-child .btn-outline-dark img {
  position: absolute;
  left: 12px;
}
#signinLoginModal .modal-body .col-lg-6:last-child a {
  color: var(--color-text-primary);
}

.nav-tabs {
  border-bottom: 1px solid var(--color-border);
}
.nav-tabs .nav-item {
  margin-bottom: 0;
}
.nav-tabs .nav-item:first-child .nav-link {
  padding-left: 0px;
}
.nav-tabs .nav-link {
  border: none;
  color: var(--color-text-secondary);
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
.nav-tabs .nav-link:hover {
  background-color: transparent;
}
.nav-tabs .nav-link.active {
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  background-color: transparent;
}

.custom-radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.custom-radio input[type=radio] {
  display: none;
}
.custom-radio label {
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 8px;
  padding-left: 30px;
  border-radius: 6px;
}
.custom-radio label p {
  color: var(--color-text-muted);
}
.custom-radio input[type=radio]:checked + label {
  background-color: var(--color-radio-checked);
  color: var(--color-primary);
}
.custom-radio input[type=radio]:checked + label:after {
  background-image: url("../img/icons/checktick.svg");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.fw-extrabold {
  font-weight: 800 !important;
}

.text-muted {
  color: var(--color-text-muted) !important;
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */