// Colors
:root {
  --color-primary: #005bf1;
  --color-secondary: #007bff;
  --color-text-primary: #000;
  --color-text-secondary: #3c3c3c;
  --color-text-muted: #686868;
  --color-background-light: #fff;
  --color-background-blue: #e4f4ff;
  --color-border: #e3e3e3;
  --color-input-placeholder: #686868;
  --color-card-border: #cdcdcd;
  --color-modal-background: rgba(28, 28, 28, 0.3);
  --color-radio-checked: #f6f6f6;
  --color-background-gray: #f2f2f2;
  --color-background-dark-blue: #002666;
  --color-background-light-blue: #e7f0ff;
}

// Common variables
$border-radius: 8px;
$transition-duration: 0.3s;
$box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

// Media query breakpoints
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;

// Font
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-libre-franklin {
  font-family: "Libre Franklin", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

body {
  @extend .font-inter;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  @extend .font-libre-franklin;
}

a {
  text-decoration: none;
  &.dropdown-toggle {
    img {
      transition: all $transition-duration ease-in-out;
    }
    &[aria-expanded="true"] {
      img {
        transform: rotate(180deg);
      }
    }
    &::after {
      display: none;
    }
  }
}

input,
textarea {
  box-shadow: none !important;
  &:placeholder-shown {
    font-weight: 300;
    color: var(--color-input-placeholder);
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 108px;
  background-color: var(--color-background-light);
  border-bottom: 1px solid var(--color-border);
  z-index: 999;
  @media (max-width: $breakpoint-md) {
    min-height: auto
  }

  .input-group {
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    height: 52px;

    input,
    button {
      line-height: 1;
    }

    input {
      padding-left: 24px;
      @media (min-width: $breakpoint-md) {
        max-width: 600px;
      }
    }
  }

  nav {
    gap: 40px;
    @media (max-width: $breakpoint-md) {
      gap: 20px;
    }

    a {
      color: var(--color-text-primary);
      display: flex;
      gap: 8px;
    }
  }

  .header-items {
    .item-img {
      height: 42px;
      width: 42px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }

      &.item-img-heart {
        img {
          height: 24px;
        }
      }
    }

    .avatar {
      height: 34px;
      width: 34px;
      transform: none !important;
    }
  }

  .profile-dropdown {
    .dropdown-menu {
      width: 280px;
      .dropdown-item {
        color: var(--color-text-muted);
        font-weight: 400;
      }
      .tag {
        border-radius: 4px;
        background: #aa21ff;
        color: #fff;
        font-size: 14px;
        padding: 0px 4px;
        font-weight: 600;
      }
    }
  }
}

.sidebar {
  a {
    font-size: 20px;
    color: var(--color-text-primary);
    display: flex;
    gap: 8px;
  }
  .accordion{
    box-shadow: none;
    border: none;
    .accordion-item{
      box-shadow: none;
      border: none;
      padding: 8px 0px;
    }
    .accordion-body{
      padding-bottom: 0px;
    }
    .accordion-button{
      padding: 0px;
      box-shadow: none;
      border: none;
      background-color: transparent;
    }
    a {
      font-size: 16px;
    }
  }
}

.home-intro-card {
  .card {
    min-height: 700px;
    border: none;
    background-color: var(--color-background-blue);
    border-radius: $border-radius;

    .card-body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 955px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }

    .card-title {
      @extend .font-libre-franklin;
      color: var(--color-primary);
      font-size: 58px;
      font-weight: 700;
      @media (max-width: $breakpoint-md) {
        font-size: 40px;
      }
    }

    .intro-content-wrapper {
      max-width: 550px;
      width: 100%;

      h6 {
        color: var(--color-text-muted);
        font-size: 14px;
        font-weight: 300;
      }
    }

    .input-group {
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      height: 67px;
      background-color: var(--color-background-light);
      align-items: center;
      padding-right: 8px;

      input {
        box-shadow: none;
        border: none;
        padding-left: 24px;
        z-index: unset;
      }

      button {
        border: none;
        border-radius: $border-radius !important;
      }

      @media (max-width: $breakpoint-md) {
        flex-direction: column;
        padding-left: 8px;
        padding-bottom: 8px;
        height: unset;

        input {
          width: 100%;
          padding-left: 8px;
          height: 56px;
        }

        button {
          width: 100%;
        }
      }
    }

    .avatar {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      overflow: hidden;

      &:not(:first-child) {
        margin-left: -15px;
      }
    }
  }
}

.category-swiper {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &::before {
    left: 0;
    z-index: 2;
  }

  &::after {
    right: 0;
    transform: rotate(180deg);
    z-index: 1;
  }

  .external-buttons {
    .swiper-button-prev-category,
    .swiper-button-next-category {
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: $box-shadow;
      border: none;

      &.swiper-button-disabled {
        visibility: hidden;
        opacity: 1;
      }
    }

    .swiper-button-prev-category {
      left: -20px;
    }

    .swiper-button-next-category {
      right: -20px;
    }
  }

  .card {
    border: none;

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      min-height: 188px;
      padding: 24px 16px;
      @media (max-width: $breakpoint-md) {
        min-height: 150px;
      }

      .card-title {
        font-size: 20px;
        @extend .font-libre-franklin;
        font-weight: 600;
      }
    }
  }
}

.external-buttons {
  .btn {
    box-shadow: $box-shadow;
    border: none;

    &.swiper-button-disabled {
      box-shadow: none;
      background-color: #e3e3e3;
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
          saturate(1%) hue-rotate(307deg) brightness(108%) contrast(101%);
      }
    }
  }
}

.popular-services-swiper {
  .card {
    border-radius: $border-radius;
    border: 1px solid var(--color-border);

    .card-body {
      .card-title {
        margin-top: 24px;
        height: 60px;
      }

      img {
        border-radius: $border-radius;
      }
    }
  }
}

.customer-feedback-swiper {
  .card {
    border-radius: $border-radius;
    border: 1px solid var(--color-border);
    position: relative;
    overflow: hidden;

    .card-body {
      h6 {
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        color: var(--color-text-muted);
      }

      h5,
      p {
        color: var(--color-text-primary);
      }

      .card-title {
        margin-top: 24px;
      }

      img {
        border-radius: $border-radius;
      }
    }
  }
}

.freelance-section {
  .card {
    border-radius: $border-radius;
    border: 1px solid var(--color-border);

    .card-body {
      padding: 40px 24px;

      .card-text {
        color: var(--color-text-muted);
      }
    }
  }
}

.our-works {
  border-radius: $border-radius;

  .figure-caption {
    position: absolute;
    bottom: 40px;
    left: 36px;
    font-size: 56px;
    font-weight: 800;
    @extend .font-libre-franklin;
    color: var(--color-background-light);
    @media (max-width: $breakpoint-md) {
      font-size: 30px;
    }
    @media (max-width: $breakpoint-sm) {
      font-size: 20px;
    }
  }
}

.freelance-banner {
  border-radius: $border-radius;
  background-color: var(--color-primary);
  color: var(--color-background-light);

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 260px;
  }
}

footer {
  border-top: 1px solid var(--color-border);

  & > div {
    &:first-child {
      border-bottom: 1px solid var(--color-border);
    }

    &:last-child {
      .row {
        & > div {
          &:last-child {
            gap: 40px;

            .d-flex {
              gap: 24px;
            }
          }
        }
      }
    }
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }

  .nav-link {
    color: var(--color-text-secondary);
    font-weight: 300;
    @extend .font-libre-franklin;

    &:hover {
      color: var(--color-primary);
    }

    @media (max-width: $breakpoint-sm) {
      font-size: 14px;
    }
  }

  .grid-links {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: $breakpoint-xl) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.modal.fade.show {
  background: var(--color-modal-background);
}

.modal-dialog {
  .modal-content {
    border-radius: $border-radius;

    .modal-header {
      border-bottom: 0px;
      padding: 24px;
      padding-bottom: 0px;

      .btn-close {
        opacity: 1;
        box-shadow: none;
      }
    }

    .modal-body {
      padding: 24px;
      padding-top: 12px;
    }
  }
}

.btn {
  font-weight: 500;
}
.btn-secondary {
  background-color: #e3e3e3 !important;
  border: 1px solid #e3e3e3 !important;
  color: #000 !important;
}

#signinLoginModal {
  .modal-content {
    border-radius: $border-radius;
    overflow: hidden;
    border: none;
  }

  .modal-body {
    .col-lg-6 {
      position: relative;
      min-height: 653px;

      &:first-child {
        background-color: #f3f2f7;

        img {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 70%;
          width: 100%;
          object-fit: cover;
          z-index: 0;
        }

        .content {
          position: absolute;
          left: 0;
          z-index: 1;
          padding: 38px;
        }

        @media (max-width: $breakpoint-md) {
          display: none;
        }
      }

      &:last-child {
        padding: 40px 80px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: $breakpoint-lg) {
          padding: 32px;
        }

        .btn-outline-dark {
          position: relative;

          &:hover {
            background-color: var(--color-background-light);
            color: var(--color-text-primary);
          }

          img {
            position: absolute;
            left: 12px;
          }
        }

        a {
          color: var(--color-text-primary);
        }
      }
    }
  }
}

#createUserModal {
  .type-img {
    height: 146px;
  }
}

.nav-tabs {
  border-bottom: 1px solid var(--color-border);

  .nav-item {
    margin-bottom: 0;

    &:first-child {
      .nav-link {
        padding-left: 0px;
      }
    }
  }

  .nav-link {
    border: none;
    color: var(--color-text-secondary);
    font-weight: 500;
    padding: 10px 15px;
    transition: all $transition-duration ease;
    border-bottom: 2px solid transparent;

    &:hover {
      background-color: transparent;
    }

    &.active {
      color: var(--color-secondary);
      border-bottom: 2px solid var(--color-secondary);
      background-color: transparent;
    }
  }
}

.custom-radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  input[type="radio"] {
    display: none;
  }

  label {
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    padding-left: 30px;
    border-radius: 6px;

    p {
      color: var(--color-text-muted);
    }
  }

  input[type="radio"]:checked + label {
    background-color: var(--color-radio-checked);
    color: var(--color-primary);

    &:after {
      background-image: url("../img/icons/checktick.svg");
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.card-custom-radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid var(--color-border);
  border-radius: $border-radius;
  padding: 18px;

  input[type="radio"] {
    display: none;
  }

  label {
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    padding-left: 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    p {
      color: var(--color-text-muted);
    }

    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0px;
      top: 0px;
      border: 1px solid var(--color-border);
      border-radius: 4px;
    }
  }

  input[type="radio"]:checked + label {
    color: var(--color-primary);

    &:before {
      border: 1px solid var(--color-primary);
    }

    &:after {
      background-image: url("../img/icons/checkbox.svg");
      background-size: cover;
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
}

.favorite-checkbox {
  display: none;

  & + label {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/icons/heart.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
  }

  &:checked + label {
    background-image: url('../img/icons/heart-fill.svg');
  }
}


.fw-extrabold {
  font-weight: 800 !important;
}

.text-muted {
  color: var(--color-text-muted) !important;
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  border-radius: $border-radius;
}

main {
  min-height: 100vh;
}

.main-info {
  border: none;
  background-image: url("../img/category/card-banner.svg");
  background-size: cover; // Ensures the image covers the entire area
  background-position: center; // Centers the image within the element
  background-repeat: no-repeat; // Prevents the image from repeating

  .banner-card {
    padding: 24px 0;

    &-body {
      padding: 40px 0;
      display: grid;
      grid-gap: 40px;
      place-items: center;

      > div {
        display: grid;
        grid-gap: 16px;
      }
    }
  }
}

.tech-list {
  margin-top: 40px;

  h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .chip-card {
    display: flex;
    flex-shrink: 0;
    padding: 16px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid #e3e3e3;
    background: #fff;
    width: 100%;

    p {
      margin: 0;
    }
  }
}
.faq-section {
  padding: 65px 0;
  border-radius: 8px;
  background: #f2f2f2;
  margin-top: 40px;
  @media screen and (max-width: 768px) {
    padding: 30px 16px;
    margin-top: 20px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  h2 {
    color: #000;
    font-family: "Libre Franklin";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    margin: 0;
  }

  &-accordian {
    display: grid;
    grid-gap: 40px;
    width: 100%;
  }
}

.faq-section {
  h2 {
    text-align: center;
  }
  .accordion {
    .accordion-item {
      width: 100%;
      border: none; /* Remove all borders */
      border-bottom: 1px solid #ddd;
      .accordion-header {
        border: none;
        .accordion-button {
          padding: 0 0 24px 0;
          background-color: #f2f2f2;
          border: none; /* Remove borders from the button */
          box-shadow: none; /* Remove any shadow */
          border-radius: 0; /* Remove border-radius if you want straight edges */

          &:hover {
            background-color: #f2f2f2;
          }

          &:not(.collapsed) {
            background-color: #f2f2f2;
          }
        }
      }

      .accordion-body {
        background-color: #f2f2f2;
        color: #212529;
        padding: 20px;
        border: 1px solid #ddd;
      }
    }
  }
}

.tech-guides {
  display: grid;
  grid-gap: 32px;
  padding: 40px 0;
  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }
  h1 {
    font-family: "Libre Franklin";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    .card-container {
      position: relative;
      max-width: 424px;
      height: auto;
      img {
        height: 100%;
        width: 100%;
      }
      div {
        height: 51px;
        padding: 0 16px;
        box-sizing: border-box;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        position: absolute;
        bottom: 8px;
        left: 8px;
        right: 8px;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Number of lines to display */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
          display: grid;
          place-items: center;
          height: inherit;
        }
      }
    }
  }
}

.explore-tech {
  margin-top: 80px;
  display: grid;
  grid-gap: 24px;
  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }
  h1 {
    font-family: "Libre Franklin";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
  }
  .custom-img {
    max-height: 150px; /* Set the desired height */
    object-fit: cover; /* Maintains the aspect ratio while cropping the image */
  }
  .custom-body {
    div {
      display: grid;
      grid-gap: 8px;
      p {
        padding: 12px 0;
        margin: 0;
      }
    }
  }
  .custom-title {
    margin: 8px 0 24px;
  }
}

.tech-faq {
  margin: 80px auto;
  padding: 65px 0;
  display: grid;
  place-items: center;
  grid-gap: 40px;
  @media screen and (max-width: 768px) {
    grid-gap: 20px;
    margin: 20px auto;
    padding: 30px 16px;
  }
  h1 {
    font-family: "Libre Franklin";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
  }
  .custom-badge {
    background-color: #e0e0e0;
    color: #252525;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: #bdbdbd;
    }
  }
}

.profile-picture-upload {
  // position: absolute;
  // height: 100%;
  // width: 100%;
}

// .sw-theme-dots {
//   & > .nav {
//     .nav-link {
//       .num {
//         right: unset;
//       }
//       &::after {
//         right: unset;
//       }
//     }
//   }
// }

.guides-profile {
  width: 34px;
  border-radius: 50%;
  height: auto;
  object-fit: cover;
}

.guides-page {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 40px;
  @media screen and (max-width: 768px) {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
  &__right {
    &-header {
      display: grid;
      grid-gap: 40px;
    }
    h1 {
      font-family: "Libre Franklin";
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &-description {
      max-width: 70%;
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
      h5 {
        font-family: "Libre Franklin";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      span {
        color: #686868;
        font-family: "Libre Franklin";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .guides-list {
      margin: 80px auto 100px;
      max-width: 1044px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 24px;
      row-gap: 40px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 40px 0;
      }
      .custom-img-wrapper {
        aspect-ratio: 4/2.5;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .custom-body {
        h5 {
          font-family: "Libre Franklin";
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 24px */
        }
      }
    }
  }
  &__left {
    display: grid;
    grid-gap: 40px;
    justify-content: flex-start;
    height: fit-content;
    @media screen and (max-width: 768px) {
      grid-gap: 20px;
    }
    .guide-topic-list {
      a {
        font-family: "Libre Franklin";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #000;
        &.topic-divider {
          border-bottom: 1px solid #e3e3e3;
        }
      }
    }
    h4.guide-topic {
      color: #686868;
      font-family: "Libre Franklin";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.explore {
  margin-top: 80px;
  margin-bottom: 120px;
  display: grid;
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
  @media screen and (max-width: 768px) {
    margin-top: 40px;
    margin-bottom: 40px;
    grid-gap: 20px;
  }
  &__header {
    text-align: center;
  }
  &__heading {
    color: #005bf1;
    text-align: center;
    font-family: "Libre Franklin";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__title {
    font-family: "Libre Franklin";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 24px 0 16px;
  }
  &__credits {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    p {
      color: #686868;
      font-family: "Libre Franklin";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .divider {
      width: 1px;
      height: 15px;
      background-color: #686868;
    }
  }
  &__image-wrapper img {
    width: 100%;
    box-sizing: border-box;
  }
  &__content {
    max-width: 688px;
    text-align: justify;
  }
}

.blog-list {
  display: grid;
  align-items: center;
  max-width: 75%;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.welcome-card {
  background-color: #002666;
  border: none;
  color: #fff;
  overflow: hidden;
  padding: 32px;
  border-radius: 32px;
  .welcomebanner-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .welcomebanner-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .card-body {
    position: relative;
    z-index: 1;
    .flex-shrink-0 {
      background-color: #fff;
      border-radius: 100%;
      height: 48px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }

    .card {
      background-color: #002666;
      color: #fff;
      padding: 24px;
      border-radius: 16px;
    }
  }
}

.history-tabs {
  .nav-link {
    border: 1px solid transparent;
    color: #000;
    padding: 16px;
    img {
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }
    &.active {
      background-color: #e7f0ff;
      color: #000;
      border: 1px solid var(--color-primary);
    }
  }
}

.gig-card {
  border: none;
  .ratio {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    .favourite-checkbox{
      z-index: 1;
      right: 10px;
      top: 10px;
      left: unset;
      height: unset;
      width: unset;
    }
  }
  .card-text {
    line-height: 20px;
  }
  .tag {
    border-radius: 4px;
    background: linear-gradient(90deg, #2521ff 0%, #661499 100%);
    color: #fff;
    font-size: 14px;
    padding: 4px;
    font-weight: 600;
  }
}

.gig-services-swiper {
  .swiper-button-prev-gig,
  .swiper-button-next-gig {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: $box-shadow;
    border: none;
    &.swiper-button-disabled {
      visibility: hidden;
      opacity: 1;
    }
  }
  .swiper-button-prev-gig {
    left: -20px;
  }
  .swiper-button-next-gig {
    right: -20px;
  }
}

.category-slider {
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 108px;
  z-index: 100;
  background-color: #fff;
  & > .container-xl{
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 2;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 2;
    }
  }
  .swiper{
    overflow: visible;
  }
  .swiper-button-prev-category-nav {
    position: absolute;
    left: 0px;
    top: 9px;
    z-index: 10;
    background-color: #fff !important;
  }
  .swiper-button-next-category-nav {
    position: absolute;
    right: 0px;
    top: 9px;
    z-index: 10;
    background-color: #fff !important;
  }
  .swiper-button-disabled {
    display: none;
  }
  .category-nav-swiper {
    .swiper-slide {
      width: auto;
    }
    .swiper-button-next-category-nav {
      right: 0;
    }
    .category-item {
      font-family: "Libre Franklin", sans-serif;
      cursor: pointer;
    }
  }
  .dropdown-menu{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: $border-radius;
    min-width: 800px;
    padding: 24px;
    border: none;
    .dropdown-item{
      padding: 0px;
      color: var(--color-text-muted);
      background-color: transparent;
      &:hover{
        color: var(--color-primary);
      }
    }
  }
}
